.charity-list-item {
  background: white;
  position: relative;
  box-shadow: 0px 4px 15px -4px #000000;
  max-width: 50%;
  padding: 3.5em;
  margin-bottom: 2em;
  border-radius: 20px;
}

.charity-title {
  margin-top: 0;
  font-size: 2em;
  font-family: "Sora", Arial, "sans-serif";
}

.charity-logo {
  position: absolute;
  top: 3.5em;
  right: 3.5em;
}

.data-item-title {
  font-weight: bold;
}

.grants-list {
  list-style: none;
  padding-left: 1em;
}

.grants-list-item {
  padding-left: 1rem;
  text-indent: -0.7rem;
}
.grants-list-item::before {
  content: "💰 ";
}
